<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>headerCellClass</key>
			<string>QuitAllTitleCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Settings</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.daveapps.quitallprefs</string>
			<key>key</key>
			<string>kEnabled</string>
			<key>label</key>
			<string>Enabled</string>
			<!-- <key>PostNotification</key>
			<string>com.purefocustwo/notif</string> -->
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.daveapps.quitallprefs</string>
			<key>key</key>
			<string>kDarkButton</string>
			<key>label</key>
			<string>Dark Button</string>
			<!-- <key>PostNotification</key>
			<string>com.purefocustwo/notif</string> -->
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.daveapps.quitallprefs</string>
			<key>key</key>
			<string>kLeftPlacement</string>
			<key>label</key>
			<string>Place Button Top-Left</string>
			<!-- <key>PostNotification</key>
			<string>com.purefocustwo/notif</string> -->
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.daveapps.quitallprefs</string>
			<key>key</key>
			<string>kKeepMusicAlive</string>
			<key>label</key>
			<string>Don't Quit Now Playing App</string>
			<!-- <key>PostNotification</key>
			<string>com.purefocustwo/notif</string> -->
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.daveapps.quitallprefs</string>
			<key>key</key>
			<string>kKeepNavAlive</string>
			<key>label</key>
			<string>Don't Quit Navigation</string>
			<!-- <key>PostNotification</key>
			<string>com.purefocustwo/notif</string> -->
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>More</string>
		</dict>
		<dict>
			<key>big</key>
			<true/>
			<key>cellClass</key>
			<string>HBTwitterCell</string>
			<key>height</key>
			<integer>56</integer>
			<key>label</key>
			<string>Dave van Wijk</string>
			<key>user</key>
			<string>DaveWijk</string>
			<key>action</key>
			<string>twitterDave</string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>HBLinkTableCell</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>action</key>
			<string>SourceCode</string>
			<key>label</key>
			<string>Source Code ⚙️</string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>HBLinkTableCell</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>action</key>
			<string>donateDave</string>
			<key>label</key>
			<string>Donate ❤️</string>
		</dict>


	</array>
	<key>title</key>
	<string>QuitAll</string>
</dict>
</plist>
