Package: com.daveapps.quitall
Name: QuitAll
Depends: mobilesubstrate, ws.hbang.common (>= 1.11), applist, preferenceloader
Version: 3.0
Architecture: iphoneos-arm
Description: One tweak to quit them all
Maintainer: Dave van Wijk
Author: Dave van Wijk
Section: Tweaks
